<div class="jumbotron jumbotron-fluid mb-3">
  <div class="container">
    <h1 class="display-4">Easy-To-Use Software 
      <br>for Medical Staff Management</h1>
    <p class="lead">Sign up with our service to receive employee
      <br>and patient management.
    </p>
    <p><a class='btn-signup' href='patient/signup'>Sign Up</a></p>
    
  </div>
</div>

<h1>We make Hospital Management made simple.</h1>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<p>CareTrol offers a simplified system that helps Employees in the Medical field better
  manage their staff and their patients. CareTrol also makes it easy for patients
  to access their Medical details.
</p>
<p>Making Hospital management simple for staff and patients!</p>
<p>At this time, our focus is to put Patients being treated first. If you have been treated by a Hospital, Clinic, or Doctor's Office using our service, then you should be able to create a Username a on our website to see your Medical Information. Click Sign Up to start.</p>

{{#unless isLoggedIn}}
  
  <p><a class='btn-signup' href='patient/signup'>Sign Up</a></p>
{{/unless}}