<h1>Caretrol</h1>
<h1>Home</h1>
{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<p>Welcome. Thanks</p>
<p>Making Hospital management simple for staff and patients!</p>
{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}